coverage
polib
pylint
python-dateutil
requests
git+git://github.com/dagwieers/kodi-plugin-routing.git@setup#egg=routing
tox
six
#sakee
git+git://github.com/michaelarnauts/kodi.emulator.ascii.git@tmp#egg=sakee

