<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="metadata_last_updated" visible="false"/>
    <category label="30800"> <!-- Credentials -->
        <setting label="30801" type="lsep"/> <!-- Credentials -->
        <setting label="30803" type="text" id="username"/>
        <setting label="30805" type="text" id="password" option="hidden"/>
    </category>
    <category label="30820"> <!-- Interface -->
        <setting label="30827" type="lsep"/> <!-- Metadata -->
        <setting label="30829" type="bool" id="metadata_update" default="true" subsetting="true"/>
        <setting label="30831" type="action" action="RunPlugin(plugin://plugin.video.viervijfzes/metadata/update)"/>
        <setting label="30833" type="action" action="RunPlugin(plugin://plugin.video.viervijfzes/metadata/clean)"/>
    </category>
</settings>
